*{
    margin: 0px;
    padding: 0px;
}

h1,h2,p,span{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

.bg{
    background: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

.container{
    background: hsl(216, 50%, 16%);
    width: 330px;
    height: 570px;
    padding: 30px;
    border-radius: 20px;
}

.intro-imagem img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.intro-subtitulo{
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    font-weight: 600;
}

.intro-subtitulo:hover{
    color: hsl(178, 100%, 50%);
}


.intro-descricao{
    color: hsl(215, 15%, 71%);
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
}

.dados{
    display: flex;
    justify-content: space-between;
}

.dados-valor{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
    align-items: center;
}

.valor img{
    width: 10px;
    height: 20px;
}

.valor h3{
    color: hsl(178, 100%, 50%);
}

.dia img{
    width: 20px;
    height: 20px;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(215, 15%, 71%);
    font-weight: 400;
    border-top: 1px solid hsla(215, 15%, 71%, 0.171);
    padding: 20px 0 0 0;
}

.perfil-img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.perfil-descricao span{
    color: white;
}

.dia h3{
    color: hsl(215, 15%, 71%);
    font-weight:300;

}

.dia h3:hover{
    color: hsl(178, 100%, 50%);
}

.attribution{
    color: white;
}

.intro-imagem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* overlay com o olho + cor */
.intro-imagem::after {
    content: "";
    position: absolute;
    inset: 0;
    background: hsla(178, 100%, 50%, 0.4) url("images/icon-view.svg") no-repeat center;
    opacity: 0;
    transition: .3s ease;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* aparece no hover */
.intro-imagem:hover::after {
    opacity: 1;
}